services:
    quick-api:
        environment:
            - ConnectionStrings__ApplicationDbContext=${ConnectionStrings__ApplicationDbContext-Host=quick-postgres;Port=5432;Database=quick;UserId=envelope;Password=envelope;Pooling=false;NoResetOnClose=true;}
        build:
            context: ./Quick.Server/src/
            dockerfile: ./Quick.Gateway/Quick.API/Dockerfile
        ports:
            - "2205:8080"
        depends_on:
            quick-migrator:
                condition: service_completed_successfully

    quick-migrator:
        environment:
            - ConnectionStrings__ApplicationDbContext=${ConnectionStrings__ApplicationDbContext-Host=quick-postgres;Port=5432;Database=quick;UserId=envelope;Password=envelope;Pooling=false;NoResetOnClose=true;}
        build:
            context: ./Quick.Server/src/
            dockerfile: ./Quick.DataAccess/Quick.DataAccess.Migrator/Dockerfile
        depends_on:
            quick-postgres:
                condition: service_started

    quick-postgres:
        image: postgres
        environment:
            POSTGRES_USER: envelope
            POSTGRES_PASSWORD: envelope
            POSTGRES_DB: quick
        ports:
            - "2960:5432"
        volumes:
            - pg-data:/var/lib/postgresql/data
        restart: unless-stopped
        logging:
            options:
                max-size: "200k"
volumes:
    pg-data:

networks:
    default:
        name: quick-network
