.lesson {
  display: flex;
  padding: 10px;
}

.lessonInfo {
  flex: 1;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.lessonInfo > h1 {
  font-size: 14pt;
  font-weight: 500;
}

.lessonInfo > p {
  font-size: 12pt;
  font-weight: 200;
  color: #757575;
}

.cabinet {
  font-size: 12pt !important;
  border: 1px solid #007aff;
  border-radius: 4px;
  color: #007aff !important;
  padding: 1px 5px;
  align-self: flex-start;
}

.lessonType > p {
  border-radius: 4px;
  color: #59d51f;
  padding: 1px 5px;
  border: 1px solid rgba(89, 213, 31, 0.3);
}