.modalHeader {
  position: relative;
  text-align: center;
  margin-bottom: 32px;
}

.modalTitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.22;
  color: #000000;
  margin: 0;
}

.modalBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.modalActions {
  display: flex;
  gap: 10px;
}

.btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  cursor: pointer;
  padding: 10px;
}

.btnCancel {
  background-color: transparent;
  color: #007aff;
}

.btnCreate {
  background-color: #007aff;
  color: #ffffff;
}

.btnCreate:disabled {
  background-color: #c9cccf;
   cursor: default;
}