.groups-screen {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
}

.container {
  background-color: #ffffff;
  border-radius: 30px;
  width: 100%;
  max-width: 361px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 25px 20px;
}

.groupsContainer {
  gap: 15px;
}

.icon {
  width: 140px;
  height: 133px;
  object-fit: contain;
}

.text-content {
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 31.7px;
  color: #000000;
  margin: 0;
}

.modalActions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  width: 100%;
}

.btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  cursor: pointer;
  padding: 10px;
}

.btnAction {
  background-color: transparent;
  color: #007aff;
}

.groupItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  background-color: transparent;
  color: #007aff;
  border: 1px solid #007aff;
}