.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: white;
  border-radius: 30px;
  width: 85%;
  max-width: 361px;
  position: relative;
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
}