.switcher {
  display: flex;
  flex-direction: row;
  height: 40px;
  padding: 5px;
  background-color: #ededed;
  border-radius: 10px;
  box-sizing: border-box;
}

.switcherBtn {
  flex-grow: 1;
  padding: 2px 10px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  color: #757575;
  border: none;
}

.switcherBtn:disabled {
  cursor: default;
  background-color: white;
  color: black;
}
