.switcher {
  display: flex;
  flex-direction: row;
  height: 30px;
  padding: 3px;
  background-color: #ededed;
  border-radius: 10px;
}

.switcherBtn {
  flex-grow: 1;
  padding: 2px 10px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  color: black;
  border: none;
}

.switcherBtn:disabled {
  cursor: default;
  background-color: white;
}
