.createGroupModal {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.modalCard {
  position: relative;
  background-color: #ffffff;
  border-radius: 30px;
  width: 100%;
  max-width: 361px;
  padding: 45px 20px 38px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
}

.modalHeader {
  position: relative;
  text-align: center;
  margin-bottom: 32px;
}

.modalTitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.22;
  color: #000000;
  margin: 0;
}

.modalBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
}

.inputField {
  color: #000;
  display: flex;
  align-items: center;
  background-color: #ededed;
  border-radius: 10px;
  height: 40px;
  padding: 10px 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  border: none;
  outline: none;
}

.inputSelect {
  display: flex;
  align-items: center;
  color: #000;
  background-color: #ededed;
  border-radius: 10px;
  min-height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.22;
  border: none;
  outline: none;
  border-color: white;
  box-shadow: none;
}

.inputSelectLabel {
  background-color: #ededed;
}

.inputSelectRemove {
  background-color: #ededed;
}

.inputField:focus {
  background-color: #c9cccf;
}

.inputSelect::placeholder {
  color: red;
}

.inputSelect:focus-within {
  background-color: #c9cccf;
}

.modalActions {
  display: flex;
  gap: 10px;
}

.btn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;
  cursor: pointer;
  padding: 10px;
}

.btnCancel {
  background-color: transparent;
  color: #007aff;
}

.btnCreate {
  background-color: #007aff;
  color: #ffffff;
}

.btnCreate:disabled {
  background-color: #c9cccf;
}