.header {
    width: 100%;
    background-color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}

.header > h1 {
    font-weight: 500;
    font-size: 26px;
    line-height: 31.7px;
    color: #000;
}