.screen {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  max-width: 401px;
  padding: 20px;
  gap: 20px;
}

.container {
  background-color: #ffffff;
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  padding: 25px 20px;
}


