.screen {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  max-width: 401px;
  padding: 20px;
  gap: 20px;
}

.container {
  background-color: #ffffff;
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 20px;
}

.modalHeader {
  position: relative;
  text-align: center;
  margin-bottom: 32px;
}

.modalTitle {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.22;
  color: #000000;
  margin: 0;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  gap: 20px;
}